<html>
    <head>
        <title>signup page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <style>
            .jumbotron {
              margin-bottom: 0px;
              background-image: url("http://getwallpapers.com/wallpaper/full/c/2/b/233513.jpg");
              background-position: 0% 25%;
              background-size: cover;
              background-repeat: no-repeat;
              color: white;
              text-shadow: black 0.3em 0.3em 0.3em;
          }
            
            </style>
    </head>

<body>
    

        <div class="container">
           
                <div class="jumbotron">
                    <h1><i class="fas fa-user-plus">sign up</i></h1>
                          <form class="form-horizontal" action="/signup" method="POST" autocomplete="off">
                              <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" placeholder="Username" autocomplete="off">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off">
                                </div>
                              </div>
                              <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                    <input type="email" class="form-control" name="email" placeholder="Email" autocomplete="off">
                                    </div>
                                  </div>
                                  <button class="btn btn-primary">Signup</button>
                                  </form>
                                </body>
                                </html>
                    
       